In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [3]:
# Load the data
file_path = Path('Resources/ml_data_2.csv')
df = pd.read_csv(file_path)
df.head()

,id_ur,county_desc,u_r_code,avg_has_zero,avg_has_one,avg_has_two,avg_has_3more
0,20001R,Allen,R,3074.44,1268.890,818.132,2314.53
1,20001U,Allen,U,1496.76,1107.860,629.955,1688.42
2,20003R,Anderson,R,2491.65,431.837,712.834,1406.68
3,20003U,Anderson,U,1127.71,422.422,289.669,1064.20
4,20005R,Atchison,R,1128.00,449.469,285.401,1015.12

### Split the Data into Training and Testing

In [4]:
# Create our features
X = pd.get_dummies(df.drop(["u_r_code","county_desc"], axis=1))

# Create our target
y = df["u_r_code"]

In [5]:
X.describe()

,avg_has_zero,avg_has_one,avg_has_two,avg_has_3more,id_ur_20001R,id_ur_20001U,id_ur_20003R,id_ur_20003U,id_ur_20005R,id_ur_20005U,...,id_ur_20195R,id_ur_20197R,id_ur_20199R,id_ur_20201R,id_ur_20203R,id_ur_20205R,id_ur_20205U,id_ur_20207R,id_ur_20209R,id_ur_20209U
count,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,...,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000,166.000000
mean,4851.178453,3698.012777,2621.773773,6297.732220,0.006024,0.006024,0.006024,0.006024,0.006024,0.006024,...,0.006024,0.006024,0.006024,0.006024,0.006024,0.006024,0.006024,0.006024,0.006024,0.006024
std,12026.892941,13088.082214,10833.982167,24647.125785,0.077615,0.077615,0.077615,0.077615,0.077615,0.077615,...,0.077615,0.077615,0.077615,0.077615,0.077615,0.077615,0.077615,0.077615,0.077615,0.077615
min,78.213200,42.829900,33.342400,73.614500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1088.627500,563.271250,361.587000,707.399500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1737.180000,1020.563500,667.086500,1392.390000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4290.550000,2283.677500,1547.492500,3831.347500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,108244.000000,119434.000000,117348.000000,242088.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
# Check the balance of our target values
#y['u_r_codes'].value_counts()
y.value_counts()

R    105
U     61
Name: u_r_code, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

### Balanced Random Forest Classifier

In [8]:
# Resample the training data with the BalancedRandomForestClassifier
from imblearn.ensemble import BalancedRandomForestClassifier
random_forest = BalancedRandomForestClassifier(n_estimators = 100)
random_forest = random_forest.fit(X_train, y_train)

In [9]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
y_pred = random_forest.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.711111111111111

In [10]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[24,  3],
       [ 7,  8]], dtype=int64)

In [11]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          R       0.77      0.89      0.53      0.83      0.69      0.49        27
          U       0.73      0.53      0.89      0.62      0.69      0.46        15

avg / total       0.76      0.76      0.66      0.75      0.69      0.48        42

In [12]:
# List the features sorted in descending order by feature importance
sorted(zip(random_forest.feature_importances_, X.columns), reverse=True)

[(0.16075926789669084, 'avg_has_zero'),
 (0.15840517681761007, 'avg_has_3more'),
 (0.14162350619776598, 'avg_has_two'),
 (0.1373995811162129, 'avg_has_one'),
 (0.012392281524748248, 'id_ur_20085U'),
 (0.011825819353783767, 'id_ur_20193U'),
 (0.011600710575428594, 'id_ur_20191U'),
 (0.011288366300431698, 'id_ur_20189U'),
 (0.010048036984889043, 'id_ur_20005U'),
 (0.00922197538062168, 'id_ur_20149U'),
 (0.009029605011773674, 'id_ur_20001U'),
 (0.0082714872209311, 'id_ur_20067U'),
 (0.007415060304500803, 'id_ur_20173R'),
 (0.007249056104763791, 'id_ur_20029U'),
 (0.00706063001100705, 'id_ur_20099U'),
 (0.007037550238976629, 'id_ur_20181U'),
 (0.00624551242211284, 'id_ur_20121U'),
 (0.0062321120094838275, 'id_ur_20145U'),
 (0.00619340622218929, 'id_ur_20167U'),
 (0.006028183419966365, 'id_ur_20073U'),
 (0.005876805775442891, 'id_ur_20117U'),
 (0.00582929345416179, 'id_ur_20009U'),
 (0.005555545620288322, 'id_ur_20087U'),
 (0.005432061556373917, 'id_ur_20171U'),
 (0.00541796440499218, 'id_ur_20185R'),
 (0.005310982038803993, 'id_ur_20003U'),
 (0.004915717229881075, 'id_ur_20125U'),
 (0.004714874345995211, 'id_ur_20175U'),
 (0.004664707193128995, 'id_ur_20091R'),
 (0.004550010082646167, 'id_ur_20149R'),
 (0.004544439690935086, 'id_ur_20205U'),
 (0.004219267808331621, 'id_ur_20159U'),
 (0.004060335203964187, 'id_ur_20013U'),
 (0.0038726102208194437, 'id_ur_20087R'),
 (0.003856713935198898, 'id_ur_20045R'),
 (0.0038552280888864525, 'id_ur_20053U'),
 (0.0037963995973658883, 'id_ur_20057U'),
 (0.003738774133899415, 'id_ur_20005R'),
 (0.003685010098287749, 'id_ur_20043R'),
 (0.0036539089632034, 'id_ur_20043U'),
 (0.0036209619993451568, 'id_ur_20183R'),
 (0.0035439912548696547, 'id_ur_20001R'),
 (0.0034115841996821858, 'id_ur_20027U'),
 (0.0033885816378119585, 'id_ur_20207R'),
 (0.0033366841069371947, 'id_ur_20163R'),
 (0.0033263006830381017, 'id_ur_20139U'),
 (0.0032787452160045185, 'id_ur_20179R'),
 (0.0032271843914824785, 'id_ur_20171R'),
 (0.003123998408192819, 'id_ur_20155R'),
 (0.0030546534989662143, 'id_ur_20137U'),
 (0.0029974765253669698, 'id_ur_20119R'),
 (0.00294108448403583, 'id_ur_20157R'),
 (0.002932879506975795, 'id_ur_20161R'),
 (0.002931380837447653, 'id_ur_20103R'),
 (0.002907259201874878, 'id_ur_20079U'),
 (0.0028588017215303175, 'id_ur_20083R'),
 (0.0028189867900477628, 'id_ur_20095R'),
 (0.0027566110383220816, 'id_ur_20141R'),
 (0.002705375045001959, 'id_ur_20111U'),
 (0.00263861877482001, 'id_ur_20035R'),
 (0.0025879459890260836, 'id_ur_20121R'),
 (0.0024909472074977506, 'id_ur_20077R'),
 (0.0024660937763809824, 'id_ur_20053R'),
 (0.0024537715787858504, 'id_ur_20187R'),
 (0.0023928791026410177, 'id_ur_20095U'),
 (0.0023676075383195915, 'id_ur_20069R'),
 (0.002364242993396911, 'id_ur_20177R'),
 (0.002360612057901017, 'id_ur_20065R'),
 (0.002320185117585518, 'id_ur_20117R'),
 (0.002296178703183867, 'id_ur_20073R'),
 (0.0022438603942300304, 'id_ur_20131R'),
 (0.002220276025494, 'id_ur_20199R'),
 (0.0022158203031238726, 'id_ur_20047R'),
 (0.002208448949901169, 'id_ur_20115U'),
 (0.0022026626138469166, 'id_ur_20175R'),
 (0.0021490169786891867, 'id_ur_20127R'),
 (0.0021079839922795284, 'id_ur_20085R'),
 (0.0020899041365008684, 'id_ur_20111R'),
 (0.002024177130520422, 'id_ur_20039R'),
 (0.00201442331953648, 'id_ur_20139R'),
 (0.0019985337006065357, 'id_ur_20081R'),
 (0.001981670599286595, 'id_ur_20131U'),
 (0.0018924786729312823, 'id_ur_20061U'),
 (0.0018770731126170447, 'id_ur_20093R'),
 (0.0018742622523319954, 'id_ur_20097R'),
 (0.001870736417488201, 'id_ur_20205R'),
 (0.0018607289205424902, 'id_ur_20189R'),
 (0.0018141816316652824, 'id_ur_20113R'),
 (0.0017942927513410357, 'id_ur_20055R'),
 (0.0017784246184754794, 'id_ur_20051U'),
 (0.0017334033810111676, 'id_ur_20201R'),
 (0.001700047196638929, 'id_ur_20193R'),
 (0.0016708566199510435, 'id_ur_20165R'),
 (0.001658080661833663, 'id_ur_20191R'),
 (0.0016550167961223222, 'id_ur_20079R'),
 (0.001632279249215423, 'id_ur_20147R'),
 (0.00158517723916256, 'id_ur_20125R'),
 (0.0015787679906033086, 'id_ur_20017R'),
 (0.0015497363468076734, 'id_ur_20009R'),
 (0.0015385078030389881, 'id_ur_20021R'),
 (0.001525567150374902, 'id_ur_20177U'),
 (0.0014504082572101412, 'id_ur_20045U'),
 (0.0014456987169319268, 'id_ur_20061R'),
 (0.0014128269963583392, 'id_ur_20109R'),
 (0.0013906849503973065, 'id_ur_20105R'),
 (0.0013812208181070722, 'id_ur_20049R'),
 (0.0013702609942775146, 'id_ur_20067R'),
 (0.0013424930798875464, 'id_ur_20209R'),
 (0.001327788959862786, 'id_ur_20169U'),
 (0.0013195167355303766, 'id_ur_20071R'),
 (0.001294261588015684, 'id_ur_20167R'),
 (0.0012223390603493356, 'id_ur_20099R'),
 (0.00118954457383022, 'id_ur_20135R'),
 (0.0011830784728950414, 'id_ur_20063R'),
 (0.0011547638763820852, 'id_ur_20155U'),
 (0.0011184913333694866, 'id_ur_20197R'),
 (0.001082359910892108, 'id_ur_20015U'),
 (0.0010036470252323046, 'id_ur_20031R'),
 (0.000972913978879726, 'id_ur_20007R'),
 (0.0009706199248563956, 'id_ur_20107R'),
 (0.0009351229272130433, 'id_ur_20089R'),
 (0.0009091222986128865, 'id_ur_20115R'),
 (0.0007209540952808209, 'id_ur_20123R'),
 (0.000659841054156732, 'id_ur_20209U'),
 (0.0006148422905715476, 'id_ur_20173U'),
 (0.0006131001168287475, 'id_ur_20091U'),
 (0.0006021890438290074, 'id_ur_20133R'),
 (0.00048591402110657314, 'id_ur_20195R'),
 (0.0, 'id_ur_20203R'),
 (0.0, 'id_ur_20181R'),
 (0.0, 'id_ur_20169R'),
 (0.0, 'id_ur_20161U'),
 (0.0, 'id_ur_20159R'),
 (0.0, 'id_ur_20153R'),
 (0.0, 'id_ur_20151U'),
 (0.0, 'id_ur_20151R'),
 (0.0, 'id_ur_20147U'),
 (0.0, 'id_ur_20145R'),
 (0.0, 'id_ur_20143R'),
 (0.0, 'id_ur_20137R'),
 (0.0, 'id_ur_20133U'),
 (0.0, 'id_ur_20129R'),
 (0.0, 'id_ur_20123U'),
 (0.0, 'id_ur_20113U'),
 (0.0, 'id_ur_20103U'),
 (0.0, 'id_ur_20101R'),
 (0.0, 'id_ur_20075R'),
 (0.0, 'id_ur_20059U'),
 (0.0, 'id_ur_20059R'),
 (0.0, 'id_ur_20057R'),
 (0.0, 'id_ur_20055U'),
 (0.0, 'id_ur_20051R'),
 (0.0, 'id_ur_20041U'),
 (0.0, 'id_ur_20041R'),
 (0.0, 'id_ur_20037U'),
 (0.0, 'id_ur_20037R'),
 (0.0, 'id_ur_20035U'),
 (0.0, 'id_ur_20033R'),
 (0.0, 'id_ur_20031U'),
 (0.0, 'id_ur_20029R'),
 (0.0, 'id_ur_20027R'),
 (0.0, 'id_ur_20025R'),
 (0.0, 'id_ur_20023R'),
 (0.0, 'id_ur_20021U'),
 (0.0, 'id_ur_20019R'),
 (0.0, 'id_ur_20015R'),
 (0.0, 'id_ur_20013R'),
 (0.0, 'id_ur_20011U'),
 (0.0, 'id_ur_20011R'),
 (0.0, 'id_ur_20003R')]

### Easy Ensemble AdaBoost Classifier

In [13]:
# Train the EasyEnsembleClassifier
from imblearn.ensemble import EasyEnsembleClassifier
ensemble = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
ensemble = ensemble.fit(X_train, y_train)
print(ensemble)

EasyEnsembleClassifier(n_estimators=100, random_state=1)

In [14]:
# Calculated the balanced accuracy score
y_pred = ensemble.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7259259259259259

In [15]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[23,  4],
       [ 6,  9]], dtype=int64)

In [16]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          R       0.79      0.85      0.60      0.82      0.71      0.52        27
          U       0.69      0.60      0.85      0.64      0.71      0.50        15

avg / total       0.76      0.76      0.69      0.76      0.71      0.51        42